body {
    width: 93vw;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 3%;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 32, 32);
    color: white
}

#cj {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
    margin-top: 2%;
}

#about {
    margin-top: 0%;
}

h1{
    font-size: 10vw;
    margin: 20px;
    margin-left: .5%;
}

h2 {
    margin-bottom: 5px;
    font-size: 23pt;
}

h4{
    margin: 1px
}

p {
    margin-left: .2%;
    margin-top: 8px;
    line-height: 120%;
}

ul {
    margin-top: 5px
}

a {
    color: rgb(78, 154, 200)
}

#skills {
    display: flex;
    justify-content: space-between;

}

#indSkills {
    width: 30%;
}

#MRS {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 23pt;
}

#cjpic {
    border-radius: 100%;
    width: 20vw;
}