body {
    font-family: 'Quattrocento Sans', sans-serif;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

#cj {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3%;
}

h1{
    font-size: 50pt;
    margin: 20px;
    margin-left: .5%;
}

h2 {
    margin-bottom: 5px;
}

h4{
    margin: 1px
}

p {
    margin-left: .2%;
    margin-top: 8px;
    line-height: 120%;
}

ul {
    margin-top: 5px
}

a {
    color: rgb(78, 154, 200)
}

#skills {
    display: flex;
}

#indSkills {
    width: 30%;
}